
/* I'm a CSS comment! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgba(199, 142, 142, 0.921);
}

header {
    padding: 10px 15px 20px 25px;
    background-color: rgb(217, 221, 158);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #000000;
}

header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;

}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #e22222;
    display: inline;
}
footer {
    background: #ffff14;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: #e22222;
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: left;
}
footer a {
    color: aqua;
}
section {
    padding: 60px;
}