
/* I'm a CSS comment! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgba(191, 155, 155, 0.921);
}

header {
    padding: 10px 15px 20px 25px;
    background-color: rgb(237, 247, 94);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #000000;
}

header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;

}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #e22222;
    display: inline;
}
.modal {
    color: rgb(237, 247, 94);
    height: 400px;
    position: relative;
}

.modal-form {
    width: 500px;
    height:350px;
    color: hsl(0, 0%, 100%);
    background-color: black;
    padding: 30px;
    border: solid 11px, rgb(237, 247, 94);
    position: absolute;
    bottom: 10px;
    right: 120px;
    
}
.modal-form p {
    margin: 5px 0 15px 0;
}
.modal-form h3 {
    font-size: 24px;
}
.form-input {
    border: 3px solid pink;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #390d15;
    width: 100%;
    margin-bottom: 5px;
}
.modal-form label {
    margin: 0 5px;
}
.modal-form button {
    color: #000000;
    background-color: rgb(237, 247, 94);
    border: solid pink 3px;
    font-size: 16px;

}
.goose {
    text-align: center;
}
.goose h2 {
    font-size: 55px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    padding: 0 100px 20px 100px;
    border-bottom: 6px solid rgb(237, 247, 94);
    display: inline-block;
}
.goose p {
    line-height: 1.4;
    color: black;
    width: 77%;
    font-size: 20px;
    margin: 0 auto;
}

footer {
    background: rgb(237, 247, 94);
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: #e22222;
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: left;
}
footer a {
    color: aqua;
}
section {
    padding: 60px;
}